html,
body,
#mapid {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

table {
  border: 0;
}

th {
  background-color: rgb(124, 230, 230);
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}